<div class="block-promo base-mini">
                            <div class="head">
                                <div class="h4">Em promoção</div>
                            </div>
                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="product-image">
                                                <%= image_tag "demo/pthumb_monojato.gold.line.VH.jpg", :width=>"90" %>
                                            </div>
                                            <div class="product-name">
                                                <h3>Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</h3>
                                            </div>
                                        </a>
                                        <div class="price-box">
                                            <span class="regular-price">
                                                <span class="price">R$ 1.359,00<br />
                                                    ou 12 X de R$ 135,90</span>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="product-image">
                                                <%= image_tag "demo/pthumb_monojato.gold.line.VH.jpg", :width=>"90" %>
                                            </div>
                                            <div class="product-name">
                                                <h3>Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</h3>
                                            </div>
                                        </a>
                                        <div class="price-box">
                                            <span class="regular-price">
                                                <span class="price">R$ 1.359,00<br />
                                                    ou 12 X de R$ 135,90</span>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="product-image">
                                                <%= image_tag "demo/pthumb_monojato.gold.line.VH.jpg", :width=>"90" %>
                                            </div>
                                            <div class="product-name">
                                                <h3>Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</h3>
                                            </div>
                                        </a>
                                        <div class="price-box">
                                            <span class="regular-price">
                                                <span class="price">R$ 1.359,00<br />
                                                    ou 12 X de R$ 135,90</span>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="product-image">
                                                <%= image_tag "demo/pthumb_monojato.gold.line.VH.jpg", :width=>"90" %>
                                            </div>
                                            <div class="product-name">
                                                <h3>Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</h3>
                                            </div>
                                        </a>
                                        <div class="price-box">
                                            <span class="regular-price">
                                                <span class="price">R$ 1.359,00<br />
                                                    ou 12 X de R$ 135,90</span>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="product-image">
                                                <%= image_tag "demo/pthumb_monojato.gold.line.VH.jpg", :width=>"90" %>
                                            </div>
                                            <div class="product-name">
                                                <h3>Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</h3>
                                            </div>
                                        </a>
                                        <div class="price-box">
                                            <span class="regular-price">
                                                <span class="price">R$ 1.359,00<br />
                                                    ou 12 X de R$ 135,90</span>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="product-image">
                                                <%= image_tag "demo/pthumb_monojato.gold.line.VH.jpg", :width=>"90" %>
                                            </div>
                                            <div class="product-name">
                                                <h3>Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</h3>
                                            </div>
                                        </a>
                                        <div class="price-box">
                                            <span class="regular-price">
                                                <span class="price">R$ 1.359,00<br />
                                                    ou 12 X de R$ 135,90</span>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

